.main-nav {
  background-color: #d3d3d3;
  width: 20%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  padding-left: 20px;
}


h2 {
  display: inline-block;
}

.new-room-button {
  background-color: white;
  margin-left: 2.5rem;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

.new-room-button:hover {
  cursor: pointer;
}

.rooms-list:hover {
  cursor: pointer;
}

.rooms-list {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: gray;
}

.chat-box {
  padding-left: 280px;
}

.room-name {
  padding-bottom: 25px;
  padding-left: 20px;
}

.message-info {
  background-color: lightgray;
  padding: 5px 0 5px 20px;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  float: left;
}

.timestamp {
  text-align: right;
  margin-right: 3rem;
}

.username .timestamp {
  display: inline-block;
}
