.main-nav {
  background-color: #d3d3d3;
  width: 20%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  padding-left: 20px;
}

h1 {
  display: inline-block;
}

.new-room-button {
  background-color: white;
  margin-left: 2.5rem;
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
}

.rooms-list {
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 10px;
  color: gray;
}
