<div class="main-nav">
  <h2>Bloc Chat</h2>
  <button class="new-room-button" type="button" ng-click="home.newRoom()">New Room</button>
  <div class="rooms-list" ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)">{{ room.name }}</div>
</div>

<div class="chat-box" style="padding-left: 300px;">
  <h3 class="room-name">{{ home.currentRoom.name }}</h3>
  <div class="message-info" ng-repeat="message in home.messages">
    <div class="username">{{ message.username }}</div>
    <div class="message-content">{{ message.content }}</div>
    <div class="timestamp">{{ message.timestamp }}</div>
  </div>
</div>
