<div class="main-nav">
  <h2>Bloc Chat</h2>
  <button class="new-room-button" type="button" ng-click="home.newRoom()">New Room</button>
  <div class="rooms-list" ng-repeat="room in home.rooms" ng-click="home.setCurrentRoom(room)">{{ room.name }}</div>
</div>

<div class="chat-box">
  <h3 class="room-name">{{ home.currentRoom.name }}</h3>
  <div class="message-info" ng-repeat="message in home.messages">
    <div class="username">{{ message.username }}</div>
    <div class="timestamp">{{ message.timestamp | date : "h:mm a"}}</div>
    <div class="message-content">{{ message.content }}</div>
  </div>
  <div class="send-message" ng-hide="!home.currentRoom">
    <form ng-submit="home.sendMessage()">
      <input class="message-box" type="text" ng-model="home.newMessage">
      <button class="send-button" type="button" ng-click="home.sendMessage()">Send</button>
    </form>
</div>
